.display-movies {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*BUTTON TRANSLATE*/

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 100px;
  box-sizing: border-box;
}

.button-cover {
  height: 35px;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.translate {
  border-radius: 50px;
}

.checkbox {
  position: relative;
  padding: 0;
  margin: 0;
  top: -20px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
  border-radius: 20px;
}

#translate-id .knobs:before,
#translate-id .knobs:after,
#translate-id .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 20px;
}

#translate-id .knobs:before {
  content: "";
  left: 4px;
  background-color: var(--secondary-color);
}

#translate-id .knobs:after {
  content: "ES";
  right: 2px;
  color: #4e4e4e;
}

#translate-id .knobs span {
  display: inline-block;
  left: 7px;
  color: #fff;
  z-index: 1;
}

#translate-id .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#translate-id .checkbox:checked + .knobs:before {
  left: 30px;
  background-color: var(--primary-color);
}

#translate-id .checkbox:checked + .knobs:after {
  color: #fff;
}

#translate-id .checkbox:checked ~ .layer {
  background-color: #fff;
}

/*SEARCH MOVIE*/

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  transition: all 1s;
  width: 400px;
  height: 50px;
  background: var(--primary-color);
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
  border: #000;
}

input {
  width: 100%;
  height: 40px;
  line-height: 20px;
  outline: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  display: block;
}

.searchIcon {
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  position: absolute;
  border-radius: 50%;
  color: var(--primary-color);
  transition: all 1s;
  font-size: 8em;
  right: 7px;
}

.container-movies {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5vw;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 110%;
  height: 358px;
  margin-bottom: 10px;
  border-radius: 15px;
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
}

.card:hover .poster {
  transform: scale(1.1);
  transition: all 1s;
}

.card:before {
  content: "";
  position: absolute;
  width: 205px;
  height: 349px;
  border-radius: 13px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  z-index: 1;
  transition: 0.5s;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.poster {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 250px;
  width: 200px;
  font-size: 1em;
  z-index: 2;
  color: white;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(10px);
}

.more-info {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: #24174485;
  border-color: #12bba4;
  border-style: solid;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

.more-info:hover {
  background: #12bba4;
}

.pagination {
  position: fixed;
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  z-index: 2;
}

.pagination button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease all;
}

.pagination button:hover {
  background: #12bba4;
}

button:active {
  transform: translateY(2px);
}

h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  color: #fff;
}
