/*                                  CCS OVERVIEW                                 */

a:-webkit-any-link {
    text-decoration: none;
  }
  
  .return {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .text-return {
    margin-left: 15px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .container-overview {
    padding: 3em;
    height: 600px;
  }
  
  .recommendations-text {
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: 600;
  }
  
  .first-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  
  .container-overview .img-overview:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .last {
    margin-top: 6.5rem;
  }
  .featured_wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  
  .featured_wrapper .img-overview {
    width: 100%;
    height: 100vh;
  }
  .title_wrapper {
    width: 90%;
  }
  .title_wrapper h1 {
    width: 70%;
    margin: 20px 0px;
    font-size: 50px;
  }
  .button-overview {
    height: 50px;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #24174485;
    border-color: var(--secondary-color);
    border-style: solid;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .button-overview:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
  }
  
  .sinopsis {
    margin-bottom: 30px;
  }
  
  .card-recommendations {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 15px;
    border-color: #fff;
    border-style: solid;
    border-width: 5px;
    overflow: hidden;
  }
  
  .card-recommendations:hover .poster {
    transform: scale(1.1);
    transition: all 1s;
  }
  
  .card-recommendations:before {
    content: "";
    position: absolute;
    width: 300px;
    height: 350px;
    border-radius: 13px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
    z-index: 1;
    transition: 0.5s;
    opacity: 0;
  }
  
  .card-recommendations:hover:before {
    opacity: 1;
  }
  
  .card-recommendations .more-info {
    height: 75px;
    width: 125px;
  }
  
  .card-recommendations:hover .info {
    opacity: 1;
    transform: translateY(-100px);
  }
  
  @media (max-width: 768px) {
    .title_wrapper {
      text-align: center;
      left: 0;
    }
    .title_wrapper h1 {
      font-size: 32px !important;
      width: 100%;
    }
    .container-overview {
      padding: 20px;
    }
  
    .info {
      font-size: 1em;
      height: 130px;
      width: 200px;
    }
    .more-info {
      width: 100px;
      height: 50px;
    }
    .card:before {
      content: "";
      position: absolute;
      width: 110px;
      height: 170px;
      border-radius: 13px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
      z-index: 1;
      transition: 0.5s;
      opacity: 0;
    }
  
    .card {
      height: 200px;
      width: 120px;
    }
  
    .card:hover .info {
      transform: translateY(-20px);
    }
  
    .container-movies {
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
      gap: 30px;
    }
  
    .featured_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .featured {
      height: 300px;
    }
  
    .container-overview {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .first-row {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }
  
    .card-recommendations {
      height: 200px;
      width: 120px;
    }
  
    .card-recommendations::before {
      width: 110px;
      height: 200px;
    }
  
    .card-recommendations:hover .info {
      opacity: 1;
      transform: translateY(-20px);
    }
  
    .card-recommendations .more-info {
      height: 50px;
      width: 100px;
    }
  
    .row {
      flex-direction: column;
      margin-bottom: 50px;
    }
  
    .form {
      width: 250px;
    }
  }
  