@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  background: #000;
  color: #fff;
}

:root {
  --primary-color: #241744;
  --secondary-color: #12bba4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Popular-Movies {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*BUTTON TRANSLATE*/

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 100px;
  box-sizing: border-box;
}

.button-cover {
  height: 35px;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.translate {
  border-radius: 50px;
}

.checkbox {
  position: relative;
  padding: 0;
  margin: 0;
  top: -20px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
  border-radius: 20px;
}

#translate-id .knobs:before,
#translate-id .knobs:after,
#translate-id .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 20px;
}

#translate-id .knobs:before {
  content: "";
  left: 4px;
  background-color: var(--secondary-color);
}

#translate-id .knobs:after {
  content: "ES";
  right: 2px;
  color: #4e4e4e;
}

#translate-id .knobs span {
  display: inline-block;
  left: 7px;
  color: #fff;
  z-index: 1;
}

#translate-id .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#translate-id .checkbox:checked + .knobs:before {
  left: 30px;
  background-color: var(--primary-color);
}

#translate-id .checkbox:checked + .knobs:after {
  color: #fff;
}

#translate-id .checkbox:checked ~ .layer {
  background-color: #fff;
}

/*SEARCH MOVIE*/

.searchMovies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  transition: all 1s;
  width: 400px;
  height: 50px;
  background: var(--primary-color);
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
  border: #000;
}

input {
  width: 100%;
  height: 40px;
  line-height: 20px;
  outline: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  display: block;
}

.searchIcon {
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  position: absolute;
  border-radius: 50%;
  color: var(--primary-color);
  transition: all 1s;
  font-size: 8em;
  right: 7px;
}

.container-movies {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 358px;
  margin-bottom: 10px;
  border-radius: 15px;
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
}

.card:hover .poster {
  transform: scale(1.1);
  transition: all 1s;
}

.card:before {
  content: "";
  position: absolute;
  width: 210px;
  height: 349px;
  border-radius: 13px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  z-index: 1;
  transition: 0.5s;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.poster {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 250px;
  width: 200px;
  font-size: 1em;
  z-index: 2;
  color: white;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(10px);
}

.more-info {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: #24174485;
  border-color: #12bba4;
  border-style: solid;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

.more-info:hover {
  background: #12bba4;
}

.pagination {
  position: fixed;
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  z-index: 2;
}

.pagination button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease all;
}

.pagination button:hover {
  background: #12bba4;
}

button:active {
  transform: translateY(2px);
}

h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  color: #fff;
}

/*                                  CCS LOADER                                 */

@keyframes ldio-ynhovkwani {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-ynhovkwani div {
  left: 95px;
  top: 180px;
  position: absolute;
  animation: ldio-ynhovkwani linear 1s infinite;
  background: #12bba4;
  width: 10px;
  height: 10px;
  border-radius: 5px / 5px;
  transform-origin: 5px 45px;
}
.ldio-ynhovkwani div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #12bba4;
}
.ldio-ynhovkwani div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #12bba4;
}
.loadingio-spinner-spinner-bi5pwn2c09s {
  width: 200px;
  height: 200px;
  display: inline-block;

  background: none;
}
.ldio-ynhovkwani {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-ynhovkwani div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

/*                                  CCS OVERVIEW                                 */

a:-webkit-any-link {
  text-decoration: none;
}

.return{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--primary-color);
  color: #fff;
}

.text-return{
  margin-left: 15px;
  font-weight: 600;
  text-decoration: none;
}

.container-overview {
  padding: 3em;
  height: 600px;
}

.recommendations-text {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 500;
}

.first-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.container-overview .img-overview:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.last {
  margin-top: 6.5rem;
}
.featured_wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
}

.featured_wrapper .img-overview {
  width: 100%;
  height: 100vh;
}
.title_wrapper {
  width: 90%;
}
.title_wrapper h1 {
  width: 70%;
  margin: 20px 0px;
  font-size: 50px;
}
.button-overview {
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #24174485;
  border-color: var(--secondary-color);
  border-style: solid;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

.button-overview:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.sinopsis {
  margin-bottom: 30px;
}

.card-recommendations {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  border-radius: 15px;
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
}

.card-recommendations:hover .poster {
  transform: scale(1.1);
  transition: all 1s;
}

.card-recommendations:before {
  content: "";
  position: absolute;
  width: 300px;
  height: 350px;
  border-radius: 13px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  z-index: 1;
  transition: 0.5s;
  opacity: 0;
}

.card-recommendations:hover:before {
  opacity: 1;
}

.card-recommendations .more-info{
  height: 75px;
  width: 125px;
}


.card-recommendations:hover .info {
  opacity: 1;
  transform: translateY(-100px);
}


@media (max-width: 768px) {
  .title_wrapper {
    text-align: center;
    left: 0;
  }
  .title_wrapper h1 {
    font-size: 32px !important;
    width: 100%;
  }
  .container-overview {
    padding: 20px;
  }

  .card:before {
    content: "";
    position: absolute;
    width: 140px;
    height: 250px;
    border-radius: 13px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
    z-index: 1;
    transition: 0.5s;
    opacity: 0;
  }

  .card {
    height: 250px;
  }

.featured{
  height: 500px;
}

.card-recommendations{
  height: 250px;
}

.card-recommendations::before{
  width: 138px;
  height: 250px;
}

.card-recommendations:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card-recommendations .more-info{
  height: 50px;
  width: 100px;
}



}
@media (max-width: 480px) {
  .column.is-one-quarter img {
    width: 100%;
    margin-bottom: 7rem;
  }
}
